@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .embla-slide {
    @apply min-w-0 flex-[0_0_100%];
  }

  .tab {
    @apply w-fit items-center justify-between gap-3 rounded-lg border-[1px] border-w-75 px-4 py-1 text-t6 font-bold text-w-75 md:hover:border-primary active:border-primary md:hover:bg-primary active:bg-primary active:text-b md:hover:text-b;
  }

  .tab-selected {
    @apply w-fit items-center justify-between gap-3 rounded-lg bg-primary px-4 py-1 text-t6 font-bold text-b;
  }

  /* .minimized {
    @apply w-0 h-0 p-0 transform-[translate(-100%, -100%)];
  } */
}

.mask-image-bg {
  mask-image: linear-gradient(to bottom, rgba(30, 30, 29, 1) 90%, rgba(30, 30, 29, 0) 100%);
}

.hide-element {
  display: none;
  opacity: 0;
}

.minimized {
  opacity: 0;
  transform: translate(50%, 50%) scale(0) !important;
}
